[nix]
channel = "stable-24_05"

[workflows]
runButton = "run"

[[workflows.workflow]]
name = "run"
author = 40259509

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "gcc fibonacci.c -o fibonacci && ./fibonacci"
